{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Создать Новый Пост {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Пост</label>
        <input type="text" name="title"
               placeholder="Название Поста" class="form-control"
               value="{{ request.form['title'] }}"></input>
    </div>

    <div class="form-group">
        <label for="content"> Содержание </label>
        <textarea name="content" placeholder="Содержание Поста"
                  class="form-control">{{ request.form['content'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="course"> Текущий курс к доллару США </label>
        <textarea name="course" placeholder="Курс"
                  class="form-control">{{ request.form['course'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>
{% endblock %}